  <% @links.each do |link| %>
 <div class="blog-post">
            <h2 class="blog-post-title"><%= link_to link.title,link %></h2>
            <p class="blog-post-meta">Submitted about <%= time_ago_in_words(link.created_at) %> by <%= link.user.email %></p>
</div><!-- /.blog-post -->
<% end %>
